html {
  height:100%;
  width:99%;
}

body {
  /*background-image: url("https://s-media-cache-ak0.pinimg.com/564x/b7/d1/9b/b7d19b9caa32982754547bc41afc4a97.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  height: 100%;
  width: 99%; /*breaks article overflow for some reason if background image set in div - otherwise necessary for structure and overlow w/ css background image - interesting*/
  /*background-color: hsla(240, 40%, 75%, 0.5);*/ /* has side-effect of fixing view port of body size?*/
  position: absolute;
  z-index: 1;
}

/*div {
  height: 100%;
  width: 100%;
}*/

#img { /* can also be done as #"id" .class { */ /* Ruins structure of whole body - can't figure it out */
    width: 100%;
    height: 100%;
    position: absolute;
    /*positions perhaps not the best solution to fix natural flow issues?*/
    /*z-index: -1; /* sets overlap positioning, or z-axis */
    z-index: -1;
    opacity: 0.5;
   }

  #main {
   min-height: 85%;
   max-height: 85%;
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-flow: row;
   opacity: 0.75; 
   }
 
  #main > article {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   background: hsl(270, 50%, 70%);
   border-radius: 25px;
   flex: 3 1 65%;
   order: 2;
   overflow: scroll;
   }
  
  #main > nav {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 25px;
   background: #ccccff;
   flex: 1 6 15%;
   order: 1;
   }
  
  /*#main > aside {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   background: #dddd88;
   border-radius: 25px;
   flex: 1 6 15%;
   order: 3;
   }*/

   #badger {
    text-align: center;
    color: purple;
   }

   #badger1 {
    text-align: center;
    color: red;
   }
 
  header{ /* add footer if footer*/
   display: block;
   margin: 4px;
   padding: 5px;
   min-height: 10%;
   border: 1px solid #eebb55;
   border-radius: 25px;
   background: #ffeebb;
   opacity: 0.75; /* rgba probably makes more sense to use */
   } 

   /*footer {
    bottom: 0;
    width: 97.5%;
    position: absolute;
   }*/ /* position not recognized in flex when shrunk */

   .colorg {
    background: linear-gradient(to right, orange, yellow, green); /* specify direction */
   }

   .font {
    text-align: left;
    font-size: 10
    text-indent: 50px;
    color: hsl(70, 100%, 80%); /* hue saturation lightness 0-0 (or 360) is red, 120 is green, 240 is blue. Saturation is a percentage value; 0% means a shade of gray and 100% is the full color. Lightness is also a percentage; 0% is black, 100% is white.*/
       }
   
   .header {
    text-align: left;
   }

   .header1 {
    text-align: center;
   }

   .quotation {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    /*
    could set individually colored paragraphs but only have 2
    */
   }

    
  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   #main, #page  {
    flex-flow: column;
    flex-direction: column;
   }

   #main > article, #main > nav{ /* add #main > aside  if aside */
    /* Return them to document order */
            order: 0;
   }
   #main > nav, #main > header{ /*no article? add aside, footer if aside, footer*/
    min-height: 50px;
    max-height: 50px;
   }
  };

  


